body {
    font-family: sans-serif;
    margin: 30px;
    background-color: #F2D5E5;
}

h1 {
    color: #590212;
    font-size: 45px;
}

h2 {
    color: #BF0436;
    font-size: 25px;
}

span {
    color: #BF0436;
    margin: 10px;
}

.box {
    display: inline-block;
    margin: 20px;
}

.imagem {
    width: 250px;
    margin: 10px;
}

a {
    font-size: 20px;
    text-decoration: none;
}

p {
    font-size: 22px;
    color: #590212;
    margin: 10px;
}
